main {
  margin-top: 50px;
}

table {
  text-align: left;
}

th {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

td {
  border-top: 1px solid #bbbbbb;
  padding: 10px;
}

.buttons-calculator {
  display: flex;
  align-items: center;
  justify-content: right;
}

.value-total {
  width: 40px;
  height: 30px;
  border: 0.5px solid #bbbbbb;
  background-color: #fffeff;
  padding: 2px;
  text-align: right;
}

.button-more-less {
  width: 30px;
  height: 35px;
  border: 0.5px solid #bbbbbb;
  background-color: #fffeff;
  padding: 2px;
  outline: none;
  cursor: pointer;
}

.button-more-less:hover {
  transition: 0.2s ease-in;
  color: #fff;
  background-color: #8d36b8;
}

.button-more {
  border-radius: 0 3px 3px 0;
  border-left: none;
  transition: 0.2s ease-out;
}

.button-more:hover {
  border-radius: 0 3px 3px 0;
  border-left: none;
  transition: 0.2s ease-in;
}

.button-less {
  border-radius: 3px 0px 0px 3px;
  border-right: none;
  transition: 0.2s ease-out;
}

.button-less:hover {
  border-radius: 3px 0px 0px 3px;
  border-right: none;
  transition: 0.2s ease-in;
}

.price-total {
  color: #8d36b8;
  font-weight: bold;
}

.transform-up {
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: right;
  font-weight: 600;
  padding: 25px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 0.8em;
}

.category {
  font-size: 0.8em;
  font-weight: 700;
  color: #8d36b8;
  padding-bottom: 5px;
}

.product-item {
  font-size: 0.9em;
  font-weight: 600;
}

.money {
  font-size: 0.7em;
}

.button {
  padding: 15px 75px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  outline: none;
  cursor: pointer;
}

.continue {
  background-color: #cfcfcf;
}

.finnaly {
  background-color: #8d36b8;
  color: #fff;
}

.display-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.value-parceled {
  font-size: 0.7em;
}

.clean-cart-text {
  font-size: 0.7em;
  color: #777777;
  font-weight: 500;
  cursor: pointer;
}
